body{

    margin:0 ;
    font-family: 'ZCOOL XiaoWei', serif;
}

hr{
    outline: none;
    border: none;
}

h1, h2 {
    margin: 0 auto;
}

h3 {
    margin: 0 auto 0 0.2em;
}



.index_menu_container{
    background: rgb(0, 183, 255);

    display: flex ;

    font-size: 1.5rem;
}

.index_menu_container .index_menu_left .photo{
    height: 300px;
    justify-content: center;
    align-items: center;
    display: flex;
}

.index_menu_container .index_menu_left .photo img{
    width: 150px;
    height: 150px;
    border-radius: 99px;
}

.contact{

    height: 70px;
    background-color: #404040;
    color: #FECA08;
    justify-content: center;
    display: flex;
    align-items: center;
    font-size: 35px;
}

.contenu_contact{
    height: 500px;
    white-space: pre-line;
}

.liste_1{
    margin: 0 auto;
}

.liste_1 li{
    list-style: none;
}

.a_propos_de_moi{
    height: 70px;
    background-color: #404040;
    color: #FECA08;
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: 35px;
}

.contenu_a_propos_de_moi{
    height: 700px;
    padding: 20px;
    justify-content: center;
    align-items: center;
}

.loisirs{
    height: 70px;
    background-color: #404040;
    color: #FECA08;
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: 35px;
}

.contenu_loisirs{
    display: flex;
    height: 250px;
    justify-content: space-between;
    align-items: center;
    background-color: #FECA08;
}

.fa-swimmer {
    top: 100px;
    padding-left: 50px;
    font-size: 70px;
    display: flex;
}

.fa-biking{
    font-size: 70px;
}

.fa-table-tennis{
    padding-right: 50px;
    font-size: 70px;
}

.index_menu_left{
    height: 2000px;
    width: 30%;
    background: #FECA08;
    color: black;
    justify-content: center;

}
.index_menu_right{
    height: 2000px;
    width: 70%;
    background: white;
    color: black;
    display: flex;
    flex-direction: column;
}

.index_menu_right .presentation{
    height: 230px;
    padding:70px 120px 0px 120px;
}


#prenom{
    color: #FECA08;
    font-size: 55px;
}

#nom{
    color: black;
    font-size: 55px;
}

#metier{
    font-size: 35px;
}

.index_menu_right .presentation hr{
    width: 150px;
    background-color: #FECA08;
    height: 2px;
    position: absolute;
}



.formation{
    height: 70px;
    display: flex;
    padding-left: 85px;
    padding-top: 50px;
}

.formation hr{
    height: 2px;
    background-color: #FECA08;
    width: 900px;
}


.formation img{
    width: 30px;
    display: flex;
    padding-right: 10px;
    height: 30px;
}

.experience_professionnelle{
    height: 70px;
    display: flex;
    padding-left: 85px;
    padding-top: 90px;
}

.experience_professionnelle hr{
    height: 2px;
    background-color: #FECA08;
    width: auto;
}

.fa-briefcase{
    padding-right: 10px;
}

td{
    width: 35%;
    padding-left: 110px;
    padding-top: 0px;
}

@media all and (max-width: 1450px)
{
    .a_propos_de_moi{
        font-size: 25px;
    }
    .contact{
        font-size: 25px;
    }
    .loisirs{
        font-size: 25px;
    }
}

@media all and (max-device-width: 480px)
{
    .index_menu_left{
        width: 50%;
    }
    .index_menu_right{
        width: 50%;
    }
}

@media all and (max-width: 980px)
{
    .index_menu_left{
        width: 40%;
    }
    .index_menu_right{
        width: 60%;
    }
    .formation{
        padding-left: 0px;
        font-size: 20px;
    }
    td{
        padding-left: 0px;
        font-size: 17px;
    }
    .liste_1{
        padding-left: 0px;
        font-size: 17px;
    }
    .experience_professionnelle{
        padding-left: 0px;
        font-size: 25px;
    }
    #prenom{
        font-size: 35px;
    }
    #nom{
        font-size: 35px;
    }
    #metier{
        font-size: 25px;
    }
    .contenu_formation{
        font-size: 20px;
    }
    .contenu_a_propos_de_moi{
        font-size: 20px;
    }
    .contact{
        font-size: 20px;
    }
    .a_propos_de_moi{
        font-size: 20px;
    }
    .loisirs{
        font-size: 20px;
    }
    .contenu_loisirs{
        flex-direction: column;
    }
    .index_menu_container .index_menu_left .photo img{
        width: 100px;
        height: 100px;
        border-radius: 99px;
    }
}
@media all and (max-width: 980px)
{
    #prenom{
        font-size: 25px;
    }
    #nom{
        font-size: 25px;
    }
    #metier{
        font-size: 20px;
    }
}