body {

    margin:0 ;
    font-family: 'ZCOOL XiaoWei', serif;
}

hr {
    outline: none;
    border: none;
}

h1, h2  {
    margin: 0 auto;
}

h3  {
    margin: 0 auto 0 0.2em;
}

h4,
h5  {
    font-weight: bold;
    text-transform: uppercase;
    margin: 0 0 1em 0;
    color: black;
}

h5  {
    text-transform: initial;
}

.index_menu_container {
    display: flex ;
    font-size: 1.5rem;
}

.index_menu_left {
    height: 2000px;
    width: 30%;
    background: #FECA08;
    color: black;
    justify-content: center;
}

.index_menu_right {
    height: 2000px;
    width: 70%;
    background: white;
    color: black;
    display: flex;
    flex-direction: column;
}

.cell_1 {
    padding-top: 1em;
}

.cell_2 h4 {
    margin-top: 1em;
}

.index_menu_container .index_menu_left .photo {
    height: 300px;
    justify-content: center;
    align-items: center;
    display: flex;
}

.index_menu_container .index_menu_left .photo img {
    width: 200px;
    height: 200px;
    border-radius: 99px;
}

.contact {
    height: 70px;
    background-color: #404040;
    color: #FECA08;
    justify-content: center;
    display: flex;
    align-items: center;
    font-size: 35px;
}

.contenu_contact {
    height: 500px;
    white-space: pre-line;
}

.liste_1 {
    margin: 0 auto;
}

.liste_1 li {
    list-style: none;
}

.a_propos_de_moi {
    height: 70px;
    background-color: #404040;
    color: #FECA08;
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: 35px;
}

.contenu_a_propos_de_moi {
    height: 700px;
    padding: 20px;
    justify-content: center;
    align-items: center;
}

.loisirs {
    height: 70px;
    background-color: #404040;
    color: #FECA08;
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: 35px;
}

.contenu_loisirs {
    display: flex;
    height: 250px;
    justify-content: space-between;
    align-items: center;
    background-color: #FECA08;
}

.fas {
    color: #404040;

}

.yellow {
    color: #FECA08;
}

.fa-swimmer {
    top: 100px;
    margin-left: 50px;
    font-size: 70px;
    border: 2px solid #404040 ;
    border-radius: 50%;
    line-height: 80px;
    width: 80px;
    overflow: hidden;
}

.fa-biking {
    font-size: 65px;
    border: 2px solid #404040 ;
    border-radius: 50%;
    line-height: 80px;
    width: 80px;
    overflow: hidden;
}

.fa-table-tennis {
    margin-right: 50px;
    font-size: 70px;
    border: 2px solid #404040 ;
    border-radius: 50%;
    line-height: 80px;
    width: 80px;
    overflow: hidden;
}

.index_menu_right .presentation {
    height: 230px;
    padding:70px 120px 0px 120px;
}


#prenom {
    color: #FECA08;
    font-size: 55px;
}

#nom {
    color: black;
    font-size: 55px;
}

#metier {
    font-size: 35px;
}

.index_menu_right .presentation hr {
    width: 150px;
    background-color: #FECA08;
    height: 2px;
    position: absolute;
    margin-top: 0px;
}



.formation {
    height: 50px;
    display: flex;
    margin-left: 85px;
    padding-top: 50px;
    border-bottom: 2px solid #FECA08;
    margin-bottom: 1em;
}

.formation i {
    font-size: 2em;
}

.formation h3 {
    margin-left: 1em;
    text-align: center;
    display: flex;
    padding-top: 15px;
}

.fa-dot-circle {
    font-size: 0.7em;
    margin-top: 8px;
}

.fa-circle {
    font-size: 0.4em;
}


.experience_professionnelle {
    height: 70px;
    display: flex;
    margin-left: 85px;
    padding-top: 90px;
    border-bottom: 2px solid #FECA08;
    margin-bottom: 1em;
}

.experience_professionnelle h3 {
    margin-left: 1em;
    text-align: center;
    display: flex;
    padding-top: 35px;
}

.experience_professionnelle i {
    font-size: 2em;
    padding-top: 22px;
}

table {
    margin-left: 100px;
    padding-top: 0;
}

table td {
    padding: 15px 0;
}

tr td:first-child {
    width: 4%;
    vertical-align: top;
}

tr td:nth-child(2n) {
    width: 15%;
    vertical-align: top;
}

tr td:last-child {
    width: 81%;
    vertical-align: top;
}

.recommandations {
    display: flex;
    height: 70px;
    margin-left: 85px;
    padding-top: 90px;
    border-bottom: 2px solid #FECA08;
    margin-bottom: 1em;
}

.recommandations h3 {
    margin-left: 1em;
    padding-top: 35px;
}

.recommandations i {
    font-size: 2em;
    padding-top: 20px;
}

.contenu_recommandations {
    line-height: 140%;
}

.contenu_recommandations tr td:first-child {
    width: 50%;
}

.contenu_recommandations tr td:last-child {
    width: 50%;
}

/* tablette mode paysage */

@media only screen
    and (max-width: 1024px) {
    .index_menu_left,
    .index_menu_right {
        height: 2050px;
    }
    .a_propos_de_moi {
        font-size: 20px;
    }
    .contact {
        font-size: 25px;
    }
    .liste_1 {
        padding-left: 20px;
    }
    .loisirs {
        font-size: 25px;
    }
    .formation {
        margin-left: 10px;
    }
    .experience_professionnelle {
        margin-left: 10px;
    }
    .recommandations {
        margin-left: 10px;
    }
    table {
        margin-left: 10px;
        width: 90%;
    }
}

/* tablette mode portrait */

@media only screen
    and (max-width: 768px) {
    .index_menu_left {
        width: 30%;
    }
    .index_menu_right {
        width: 70%;
    }
    .formation {
        margin-left: 10px;
        font-size: 20px;
    }
    td {
        padding-left: 0px;
        font-size: 17px;
    }
    table {
        margin-left: 10px;
    }
    .liste_1 {
        padding-left: 5px;
        font-size: 17px;
    }
    .experience_professionnelle {
        margin-left: 10px;
        font-size: 25px;
    }
    .index_menu_right .presentation {
        padding-left: 10px;
    }
    #prenom,
    #nom {
        font-size: 25px;
    }
    #metier,
    .contenu_a_propos_de_moi,
    .contact,
    .a_propos_de_moi,
    .loisirs {
        font-size: 20px;
    }
    .recommandations{
        margin-left: 10px;
    }
    .contenu_loisirs {
        flex-direction: column;
    }
    .index_menu_container .index_menu_left .photo img {
        width: 150px;
        height: 150px;
    }
}

/* mobile portrait */

@media only screen 
    and (max-width: 480px)  {
    .index_menu_container  {
        flex-direction: column;
    }
    .index_menu_left {
        width: 100%;
        height: 90%;
    }
    .index_menu_right {
        width: 100%;
    }
    .contenu_a_propos_de_moi {
        height: 100%;
    }
    .contenu_loisirs {
        height: 10%;
    }
    .formation {
        margin-left: 5px;
        padding-top: 5px;
        margin-bottom: 0.5em;
    }
    .formation i  {
        font-size: 1.5em;
        height: 50%;
        padding-top: 10px;
    }
    .formation h3  {
        margin-left: 1em;
    }
    td {
        font-size: 15px;
    }
    table {
        margin-left: 5px;
        width: 90%;
    }
    .experience_professionnelle h3 {
        height: 100%;
    }
    .experience_professionnelle {
        height: 5%;
        margin-bottom: 0px;
    }
    .experience_professionnelle i {
        height: 50%;
        font-size: 1.5em;
        padding-top: 50px;
    }
}